/* Full Width Layout */
section.layout-full {
    background-size: cover;
    background-position: center;
}

/* Content Layout */
section.layout-full .callout-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Wrapper Styles */
section.layout-full .callout-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 450px;
}

/* Content Box Styling */
section.layout-full .callout-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 20px;
    width: 40%;
}

/* Section Background Colors */
section#homepartners,
section#hometeam,
section#homestory,
section#htptech {
    background-color: black;
}

/* Layout Spacing */
section.layout-left,
section.layout-right {
    padding: 60px 0;
}

/* Full Width Content */
section.full-width-content.layout-full {
    background-color: black;
    color: white;
    padding: 3em 2em 2em;
}