/* Header and Marquee */
.marquee-callout h2 {
    font-style: italic;
    text-transform: uppercase;
    font-size: 8rem;
    /* top: 20%; */
    position: relative;
    margin: 0 auto  ;
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-shadow: 4px 5px 5px black;
}

.marquee-callout {
    text-shadow: none;
}

.marquee-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 550px;
}

section#shop-custom {
    background-color: white;
}

.marquee-callout .callout-content {
    font-size: 3rem;
    font-style: normal;
    color: black;
    letter-spacing: -0.02em;
    font-weight: 500;
}

a.marquee-link {
    background-color: black;
    padding: 0px 25px;
    border-radius: 0;
    border: none;
    color: white;
    text-decoration: none;
    box-shadow: none;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
}

header#masthead {
    padding: 3em;
    display: flex;
    background: linear-gradient(180deg, black, transparent);
}

/*Custom Form Styles*/
.color-selector span.gfield-image-choice-wrapper-outer {
    padding: 0 !important;
    --gf-local-shadow: none !;
}

.color-selector .gfield-choice-image-wrapper {
    width: 100px !important;
    overflow: visible;
}

.color-selector span.gfield-image-choice-wrapper-outer {
    --gf-local-shadow: none !important;
    width: 100px !important;
}

.color-selector .gchoice {
    border: none !important;
    --gf-local-shadow: none !important;
    background-color: none !important;
}

.gform-theme--framework .gfield--type-image_choice .color-selector .gchoice {
    align-self: initial;
    display: block;
    inline-size: initial;
    max-inline-size: initial;
    min-inline-size: initial;
    position: relative;
}

.color-selector .gfield-choice-image-wrapper {
    width: 113px !important;
    height: 90px !important;
    display: block;
}

.color-selector .gchoice {
    width: 110px !important;
    display: block;
}

.color-selector img {
    width: 70px !important;
    height: 30px !important;
    display: block;
}


/* Content Styles */
section#shop-custom {
    background-color: white;
}

section h2 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.layout-full p {
    font-size: 1.4em;
    line-height: 1.8em;
}


/* Shop Pages */
h2.woocommerce-loop-product__title {
    color: black;
    font-size: 2em !important;
    font-weight: 700 !important;
}

.woocommerce ul.products li.product .price {
    color: rgb(33 225 192) !important;
    font-size: 2em !important;
    font-weight: 700 !important;
    padding: 0 !important;
    margin-bottom: 2.5em;
}

h2.woocommerce-loop-product__title {
    color: black;
    font-size: 1.4em !important;
    font-weight: 500 !important;
}

.woocommerce ul.products li.product a {
    text-decoration: none;
    display: contents;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .other-products-section .products li {
    padding: 0 1em !important;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
}