.baseball .product-variation .price {
    color: var(--baseball-primary);
}

.fishing .product-variation .price {
    color: var(--fishing-primary);
}

.products-grid .product-variation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-variation .variation-price {
    margin-top: auto;
    padding: var(--spacing-unit);
} 